*{
  margin: 0; 
  padding: 0;
  }
  a{text-decoration: none; color: inherit;}

  #root{
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    gap: 1rem ;
    a{
      transition: 0.3s;
      display: block;
      padding: 0.5rem 1rem;
      border: 1px solid #222;
      border-radius: 1rem;
      &:hover{
        background-color: #222;
        color: #fff;
      }
    }
  }

  main{
    background-color: bisque;
    flex: 1;

  }

  footer{
    text-align: center;
    background-color: #222;
    color: #fff;
    padding: 2rem
  }
  